.iChat_input { width: 99px; padding: 1px; }

.iChat_bbeditor { }
.iChat_bbeditor span, .iChat_bbeditor span img, .iChat_bbeditor .bbspacer, .iChat_bbeditor .bbselect { float: left; }
.iChat_bbeditor .bbselect { height: 21px; padding: 4px 3px 0 3px; }
.iChat_bbeditor .bbselect select { font-size: 11px; }
.iChat_bbeditor span { cursor: pointer;}
.iChat_bbeditor span:hover { background-position: -23px 0; }

.iChat_editor { width: 100% !important; background-color: #999; border: 1px solid #404040; }
.iChat_editor .iChat_bbeditor { border-width: 0 0 0px 0; }

/*
.ui-corner-all { 
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; 
}
*/

#message	{
width: 99%;
height: 60px;
display:block;
background:#666 /*url(../img/bg_message.png) center no-repeat */;
border:1px solid #999999;
font-size: 18px;
}

.chat {
color: #000;
border: 1px solid #404040;
background-color:#999999;
margin: 0px 1px 1px 0px;
/*
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
*/
padding: 3px;
width: 97%;
}
.chat:hover {
border: 1px solid #404040;
}

.quote {
background: #cccccc;
border-radius: 3px;
clear: both;
color: #2a2a2a;
font-size: 11px;
margin: 0px 0px 5px;
padding: 2px;
}

.hr1 {background:url('../img/hr.png') repeat-x;height:1px;border:0px}

.edit_buttons {opacity: 0.2;cursor:pointer;}
.edit_buttons:hover {opacity: 1;}

